<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emily's Major Project</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tiny.cloud/1/1zlmk84hrwv3xwopfl4eabf47btz185gu75ah0lr5vmqmvcc/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
