<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<main>
    <div class="success-message">You have successfully deleted the page!</div>
    <p><a href="/welcome">Return to Welcome Page</a></p>
</main>

<%- include('layouts/footer') %>
