<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<main>
    <div class="success-message">You have successfully logged out!</div>
    <p><a href="/login">Return to Login Page</a></p>
</main>

<%- include('layouts/footer') %>
